/* @import url('https://rsms.me/inter/inter.css'); */
html { 
    font-family: 'Merriweather', serif;


    /* font-family: 'Inter', sans-serif;  */
}
/* @supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
} */
@import url('https://fonts.googleapis.com/css?family=Merriweather');



body {
    font-size: 24px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#map {
    width: 100%;
    height: calc(100% + 32px);
    position: fixed;
    top: 0px;
    left: 0px;
}
.legend {
    position: fixed;
    bottom: 40px;
    left: 40px;
    height: 180px;
    display: flex;
}
.pointer {
    position: absolute;
    left: 0px;
    width:16px;
    height: 4px;
    background: #1a1a1a;
}
.legend .contain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.legend-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 6px;
}
.legend-text b {
    font-weight: 600;
}
.legend .bar {
    background-image: linear-gradient(-180deg, #FCCDDC 4%, #DC648D 100%);
    width:16px;
    height: 100%;
}
.controls {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.60) 7%, rgba(255,255,255,0.00) 96%);
    left: 0px;
    z-index: 1;
    padding: 40px;
    /* font-family: 'Inter'; */
    font-family: 'Merriweather', serif;

    font-weight: 400;
    text-shadow: 0px 0px 1px #fff;
    font-size: 56px;
    line-height: 64px;
    color: rgba(0, 0, 0, 0.60);
    letter-spacing: 0;
}
.tooltip {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1;
    /* font-family: 'Inter'; */
    font-family: 'Merriweather', serif;

    font-weight: 400;
    font-size: 56px;
    color: rgba(0, 0, 0, 0.60);
    letter-spacing: 0;
    pointer-events: none;
}

.controls .clickable {
    font-weight: 700;
    transition: all .2s linear;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.controls .clickable:hover {
    transition: all .2s linear;
    color: rgba(255, 0, 140, 1);
}

@media only screen and (max-width: 640px) { 
    .tooltip  {
      font-size: 14px;
      color: #000;
       bottom: 24px;
       right: 24px;
    }
    .controls {
        padding: 24px;
        font-size: 24px;
        line-height: 36px;
    }
    .legend {
        bottom: 24px;
        left: 24px;
    }
}