<!doctype html>
<html ng-app="PDATA">

<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Pdata</title>
      <meta name="description" content="Pdata">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=no">
      <meta property="og:url" content="TODO" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="Pdata" />
      <meta property="og:site_name" content="Pdata" />
      <meta property="og:description" content="Pdata" />
      <meta property="og:image" content="" />
      <meta property="og:image:url" content="" />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
      <meta property="og:image:type" content="image/png" />
      <!--favicons-->
      <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
      <link rel="icon" href="img/favicon.png" type="image/x-icon">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="css/main.css">
      <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
      <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

      <style>
          
      </style>
</head>

<body id="top" ng-controller="index">

    <div class="credits">Based on <img src="logo.png" alt="SimilarWeb" style="height: 12px;"> data</div>
  <div id='map'></div>

  <div class="legend">
      <div class="bar" ng-if="!toggleComparisonMode"></div>
      <div class="barCompare" ng-if="toggleComparisonMode" style="background-image: linear-gradient(180deg,#1EC794 0%, #eee {{currCountryPercent}}%, #BB3F3F 100%);"></div>
      <div class="pointer" ng-if="currCountry" style="bottom:calc({{currLegendTop}} * 100%);"></div> 
      <div class="contain">
        <div class="maxcountry legend-text"><b>{{currMaxCountry}}</b><br>{{currMaxVal}}</div>
        <div class="mincountry legend-text">{{currMinVal}}<br><b>{{currMinCountry}}</b></div>
      </div>
     
  </div>

<div class="controls">
        Show me <span class="clickable" ng-click="nextClick('metric')">{{currMetric.label}}</span> on <span class="clickable" ng-click="nextClick('domain')">{{currDomain.label}}</span><span ng-if="toggleComparisonMode"> realtive to <span class="clickable" ng-click="toggleComparison();">{{toggleComparisonModeCountryLabel}}</span></span> in <span class="clickable" ng-click="nextClick('date')">📆 {{currDateRange.label}}</span>, for <span class="clickable" ng-click="nextClick('device')">{{currDevice.label}}</span>.
</div>

<div ng-if="currCountry" class="tooltip">
    {{currCountry}}: {{(currValue == 0 || isNaN(currValue))  ? 'no data' : currValue}}
</div>

  

  <!-- <div ng-repeat="(key, value) in mapData" style="display:block;width:calc(({{value}} / {{mapData['maxValue']}})  * 100%); background:red;">
      {{key}} : {{value}}
  </div>
 -->

      <!--Vendor:Jq-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

      <!--Vendor: AngularJS-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
      <script src="https://code.angularjs.org/1.5.8/angular-animate.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.2/chroma.min.js"></script>
      <!--App file-->
      <script src="js/data.js"></script>
      <script src="js/app.js"></script>


</body>

</html>